.middle {
  background-image: url(https://st3.depositphotos.com/11911276/18232/v/600/depositphotos_182320226-stock-video-abstract-space-background-geometry-surfaces.jpg);
  width:100%;
  height: 100%;
  position: relative;
  top: 30%;
  left: 0%;
  margin-bottom: 2%;
  padding: 2%;
}

.middle-text{
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.middle-para{
  text-align: center;
  color: #fff;
  font-size: 2em;
}
